/*------------------------------------------------------------------
    Version: 1.0
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    [Table of contents]

    1. IMPORT FONTS
    2. IMPORT FILES
    3. SKELETON
    4. WP CORE
    5. HEADER
    6. SECTIONS
    7. SECTIONS
    8. PORTFOLIO
    9. TESTIMONIALS
    10. PRICING TABLES
    11. ICON BOXES
    12. MESSAGE BOXES
    13. FEATURES
    14. CONTACT
    15. FOOTER
    16. MISC
    17. BUTTONS
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,900');

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
    box-sizing: border-box;
}
body {
    color: #999;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.80857;
}
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}
/*------------------------------------------------------------------
    Top head
-------------------------------------------------------------------*/

.top-bar{
	background: #393939;
}
.left-top{
	padding: 3px 0px; 
}
.email-box{
	display: inline-block;
	margin-right: 20px;
}
.email-box a{
	color: #ffffff;
	font-size: 16px;
}
.email-box a:hover{
	color: #fd6802;
}
.email-box a i{
	padding: 0px 5px;
}
.phone-box{
	display: inline-block;
}

.phone-box a{
	color: #ffffff;
	font-size: 16px;
}
.phone-box a:hover{
	color: #fd6802;
}
.phone-box a i{
	padding: 0px 5px;
}

.social-box{
	float: right;
}

.social-box ul li{
	display: inline-block;
	padding-left: 10px;
}

.social-box ul li a{
	color: #ffffff;
	font-size: 20px;
}
.social-box ul li a:hover{
	color: #fd6802;
}
/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
.header{
    background: #f7f7f7;
    display: block;
    left: 0;
    padding: 20px 40px !important;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
    z-index: 111;
}
.header .navbar,
.header .nav-links{
    margin-bottom: 0 !important;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links li a {
    border-radius: 0;
    color: #ffffff;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    background-color: transparent;
}
.nav-links li a {
	color: #333333;
	padding: 15px 15px;
}
.nav-links li a.active{
	color: #ffffff;
	box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
	border-radius: 25px 0px 25px 0px;
	background: #fd6802;
}
.nav-links li:hover a {
    color: #ffffff;
	box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
	border-radius: 25px 0px 25px 0px;
	background: #fd6802;
}
/*-----------------dropdown menu style--------------*/
.dropdown-menu {
    display: none;
}  
.nav-links ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 115%;
    background-color: #1f1f1f;
    border: 3px dotted #0f52ba;
}  
.nav-links ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}
.nav-links ul li:hover .dropdown-menu ul li {
    width: 180px;
    padding: 10px;
}
/*------Menu Button-------*/
@media (max-width: 815px){
    .header{
        display: none;
    }
}
/*------------------------------------------------------------------
    ABOUT US
-------------------------------------------------------------------*/
.about-us{
	background: url(./img/inner-bg.jpg);
	padding: 120px 0;	
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	background-origin: initial;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 0;
    padding-left: 7rem;
}
/*------Background-pic Color-------*/
.about-us::before{
	content: "";
	display: inline-block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	background: rgba(34, 34, 34, 0.4);
}
.banner{
	position: relative;
}
.banner h2{
	color: #f1f1f1;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-left: 20px;
	position: relative;
}
/*------About Responsive-------*/
@media (max-width: 1075px){
    .about-us{
        padding-left: 4rem;
    }
    .banner h2{
        text-indent: 1px;
        font-size: 35px;
    }
}
/*------About Sidebar Border Style-------*/
.banner h2::after {
    background: #fd6802;
    content: "";
    height: 35px;
    left: -15px;
    position: absolute;
    top: 8px;
    width: 6px;
}
/*------Page-link: Home-About Style-------*/
.page-title-link li{
	display: inline-block;
	position: relative;
}
.page-title-link li a {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 15px;
    text-transform: uppercase;
	font-weight: 500;
}
.page-title-link li a:hover {
	color: #fd6802;
}
.page-title-link li::after {
    background: #fcbf02;
    bottom: 8px;
    content: "";
    height: 2px;
    margin-left: -1px;
    position: absolute;
    width: 10px;
}
.page-title-link li:last-child::after {
    content: "";
    width: 0;
    height: 0;
}
/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/
body{
 background: #f7f7f7;
}
.footer-container{
    width: 100%;
    background: linear-gradient(to right, #1f1f1f, #1f1f1f, #1f1f1f);
    /* background: #0f52ba; */
    color: #fff;
    padding: 30px 0 30px;
    border-top-left-radius: 105px;
    font-size: 15px;
    line-height: 20px;
}
.footer-row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 120px;
    margin-bottom: 30px;
    background-color: #fff;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: #fd6802;
}
.col h4{
    color: #fff;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a:hover{
    color: #fd6802;
    transition: 0.3s ease-in-out;
}
.fuuast-form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.fuuast-form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}
.fuuast-form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.fuuast-form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa-solid{
    font-size: 16px;
    color: #ccc;
}
form button .fa-solid:hover{
    color: #fd6802;
    transition: 0.3s ease-in-out;
}
.socail-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
.socail-icons .fa-brands:hover{
    color: #fd6802;
    transition: 0.3s ease-in;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px
    }
    100%{
        left: 100%;
    }
}
@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}

/*------ Course -----*/
.fuuast-Zeeshan{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(2,4,5,0.7);
}
@media(max-width: 700px){
    .fuuast-Zeeshan{
        flex-direction: column;
    }
}
/*----- blog-content ------*/

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 90%;
    margin-top: -3rem;
}
.blog-left h1{
    color: #767676;
    font-size: 26px;
    font-weight: 700;
    margin: 30px 0;
}
.blog-left h2{
    color:  #fd6802;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0.7rem;
}
.ok-btn{
    color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
	border-radius: 25px 0px 25px 0px;
    padding: 0.7rem;
    font-weight: 600;
	background: #fd6802;
    border: none;
}
.ok-btn:hover{
    background: blue;
    transition: 0.5s ease-in;
    cursor: pointer;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #fd6802;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid red;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.raja-btn{
    color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
	border-radius: 25px 0px 25px 0px;
    padding: 1rem;
    font-weight: 600;
	background: #fd6802;
    border: none;
}
.raja-btn:hover{
    background: blue;
    transition: 0.5s ease-in;
    cursor: pointer;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}

@media(max-width: 700px){
    .sub-header h1{
        font-size: 24px;
    }
}

/*----- Contact us page -----*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.contact-col .zulqarnain{
    color: #fff;
    display: block;
    width: 160px!important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.3s ease;
  }
  .contact-col .zulqarnain:hover{
    color: crimson;
    background: none;
  }